body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #040014, rgb(7, 1, 29), #0d0138, rgb(2, 0, 110));
  /* Gradient background */
  /* You can adjust the angle and colors of the gradient */
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  /* prevent body scroll */
  overflow-x: hidden;
}

header {
    cursor: pointer;
    background-color: #35006c;
    /* 50% transparent background */
    padding: 10px 20px;
    /* Padding for header */
    box-sizing: border-box;
    /* Ensures padding and border are included in the width */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* Spacing between logo and buttons */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 00px 0px 30px 30px;
    margin: auto;
    z-index: 1000;
    top: 0;
    width: 100%;
  }

  header img {
    width: 25px;
    /* Adjust logo height as needed */
    min-width: 10px;
  }

  .buttons {
    display: flex;
    font-size: 14px;
  }

  .buttons a {
    color: #ffffff;
    text-decoration: none;
    margin: 0px 50px 0px 0px;
    /* Adjust spacing between buttons */
    transition: font-size 0.3s;
    /* Smooth transition for color change */
  }

  .buttons a:hover {
    color: #8700c5;
    /* Change color on hover */
    font-size: 18px;
  }

  /* Adjust content position to account for the fixed header */
  main {
    margin-top: 80px;
    /* Adjust according to the header height */
  }

  .image-container {

    position: relative;
    text-align: left;
    color: white;
    padding: 80px 0px 0px 0px;
  }

  .image-container img {
    width: 100%;
    /* Set image width to 25% of the container */
    position: absolute;

  }

  .welcometomyportfolio {
    color: #fff;
    font-size: 2vw;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    position: relative;
    text-align: center;
    color: white;

  }

  .coming {
    color: #fff;
    font-size: 9vw;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    text-align: center;
    position: relative;
    text-align: center;
    color: white;
  }


  .soon {
    color: #fff;
    font-size: 9vw;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    text-align: center;
    position: relative;
    text-align: center;
    color: white;
  }

 